.container{
    font-family: 'Alef', sans-serif Arial, Helvetica, sans-serif;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    max-width: 720px;
    margin: 0 auto; 
  
}
h1{
font-size: 36px;
margin-bottom: 9px;

padding-bottom: 30px;

}
h6{
    font-weight: 400px;
    color: #73798C;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 5px;
}
h5{
    font-size: 16px;
    margin: 0;
}
.adress{
    font-weight: 600px;
    display: flex;
}
.body_time{
    
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #E2E2E9;
}
.zakaz{
    padding: 13px 20px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    border: 0;
    border-radius: 1000px;
    color: #D15700;
    background: #FFF0E6;
    cursor: pointer;
    transition: 0.3s;
}
.zakaz:hover{
    opacity: 0.6;
}
.menu{
    padding: 13px 20px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    border: 0;
    border-radius: 1000px;
    color: #FFFFFF;
   background-color:  #F96900;
    cursor: pointer;
    transition: 0.3s;
}
.menu:hover{
    opacity: 0.6;
}
.button{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.grey{
    margin-top: 9px;
}
@media(max-width: 375px){
     .container{
         margin-left: 16px;
         margin-right: 16px;
     }
    h6{
        font-size: 12px;
    }
    .time{
        display: none;
    }
    h1{
        font-size: 24px; 
        border-bottom: none ;
    }
    
    .grey{
        position: relative;
    width: 288px;
    height: 106px;
    background-color: #F3F3F7;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    margin-top: 12px;
    
    }
    h5{
        position: absolute;
        margin-top: 18px;
        margin-bottom: 18px;
        margin-right: 20px;
        margin-left: 21px;

    }
    .button{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .zakaz{
        border-radius: none;
    }
    .body_time{
        border-bottom: none;
    }

}



